<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}首页{% endblock %}| {{ settings.site_name }}
        </title>
        <meta name="description" content="{% block description %}{{ settings.site_description }}{% endblock %}">
        <meta name="author" content="{{ settings.author }}">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
        <link href="/css/pygments.css" rel="stylesheet" type="text/css" media="all">

        <!-- Le fav and touch icons -->
        <!-- Update these with your own images
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        -->
    </head>

    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">{{ settings.site_name }}</a>
                    <ul class="nav">
                        <li><a href="/archive/">归档</a></li>
                        <li><a href="/category/">分类</a></li>
                        <li><a href="/about/">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <footer>
            <p>&copy; {{ settings.author}} 2013
            with help from <a href="http://turtpress.com" target="_blank" title="Blogging Framework for Pythoner">Turtpress</a>
            and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
            </p>
            </footer>

        </div> <!-- /container -->
        {% if settings.clicky %}
        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init({{ settings.clicky }}); }catch(e){}</script>
        {% endif %}
        {% if settings.google %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ settings.google }}']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
         {% endif %}

     </body>
 </html>
