---
layout: default
---
<div class="left-area">
<article class="post entry clearfix">
    <p class="meta-info">Posted  by {{ post.author }} on <a href="{{ post.url }}">{{ post.pub_time.strftime('%b %d,%Y') }} </p>

    <div class="post_content clearfix">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <hr/>
        {{ post.html | safe }}
    </div>
</article>

{% if post.comment != False %}
    {% include "_includes/comments.html" %}
{% endif %}

</div>

{% include "_includes/sidebar.html" %}
