/* =Common Styles
-------------------------------------------------------------- */

html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

*, *:focus {
  outline: none !important;
}

img {
  max-width: 100%;
}

.has-fixed-nav body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.grey {
  color: #999;
}

.up {
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
  font-size: 15px;
}

.section {
  min-height: 400px;
  background-color: #fff;
  padding-bottom: 70px;
  padding-top: 70px;
  overflow: hidden;
}

.section hr {
  width: 90px;
  border-top: 2px solid transparent;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  float: none;
}

.title h1 {
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

.title h1 strong {
  font-weight: 400;
}

.title p {
  font-weight: 300;
  text-align: center;
  color: #888;
  font-size: 16px;
}

.btn-empty {
  border-color: #FFF;
  border-width: 2px;
  color: #FFF;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
  transition: .3s;
}

.btn-empty:hover {
  background-color: #fff;
  color: #333;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax-overlay {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.58);
}

/* =Preloader
-------------------------------------------------------------- */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10000;
  height: 100%;
}

#loader {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* =Video Background
-------------------------------------------------------------- */

#video-wrapper {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

#bgndVideo {
  display: none;
}

/* =Home Section
-------------------------------------------------------------- */

#home {
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

/*#home.pattern {
  background-image: url("../images/pattern.png");
}*/

.hero {
  padding: 120px 0;
  text-align: center;
  color: #fff;
}

.hero hr {
  width: 200px;
  border-top: 3px solid #fff;
}

.home-slider .slides {
  list-style: none;
}

.home-slider .slides > li h1 {
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  vertical-align: middle;
  padding: 20px 0;
}

/* =Header
-------------------------------------------------------------- */

.topnav {
  background-color: #fff;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.topnav .navbar-nav > li > a {
  text-transform: uppercase;
  color: #999;
}

.topnav .navbar-nav > .active > a, .topnav .navbar-nav > .active > a:hover, .topnav .navbar-nav > .active > a:focus {
  background-color: #fff;
}

#logo {
  text-transform: uppercase;
}

/* =About
-------------------------------------------------------------- */

.about-text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #666;
}

.promo-line:before, .promo-line:after {
  content: " ";
  display: table;
}

.promo-line:after {
  clear: both;
}

.promo {
  margin-bottom: 40px;
}

.promo:before, .promo:after {
  content: " ";
  display: table;
}

.promo:after {
  clear: both;
}

.promo.right {
  text-align: right;
}

.promo.right .promo-icon-box {
  float: right;
}

.promo h4 {
  text-transform: uppercase;
}

.promo p {
  color: #666;
}

.promo-icon {
  display: block;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  margin-top: 10px;
  transition: .3s;
}

.promo-icon .fa {
  line-height: inherit;
}

/* =Team
-------------------------------------------------------------- */

#team {
  background-color: #f6f6f6;
}

.team {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
  overflow: hidden;
  margin-bottom: 15px;
}

.team:hover {
  cursor: default;
}

.team:hover .team-overlay {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.team-photo {
  position: relative;
}

.team-photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-bottom: 1px solid #ececec;
  margin-top: -260px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.team-overlay p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.team-inner {
  padding: 15px;
}

.team-inner h3 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
}

.team-inner p {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin: 0;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-list li {
  margin: 5px;
  display: inline-block;
}

.social-list li a {
  font-size: 21px;
  color: #fff;
}

.social-list li a:hover {
  color: #ccc;
}

.social-list li a:hover .social-icon {
  border-color: #ccc;
}

.social-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.social-icon .fa {
  line-height: inherit;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
}

/* =Numbers
-------------------------------------------------------------- */

#numbers {
  background-image: url("http://demo.ovatheme.com/floyd/templates/floyd/images/bg/4.jpg");
  color: #fff;
  overflow: hidden;
}

#numbers h4 {
  margin-bottom: 50px;
}

#numbers .fa {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}

#numbers .counter {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

#numbers .counter .value {
  display: block;
  font-size: 36px;
  color: #fff;
}

#numbers .counter small {
  text-transform: uppercase;
  color: #ccc;
}

/* =Services
-------------------------------------------------------------- */

.service-box {
  float: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

.service {
  margin-top: 30px;
  padding: 45px 20px 20px 20px;
  border: 1px solid #ececec;
  border-radius: 4px;
  text-align: center;
  transition: .3s;
  position: relative;
}

.service:hover {
  cursor: default;
}

.service:hover > .fa-stack > .service-icon {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #fff;
}

.service > h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.service > .fa-stack {
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  margin: auto;
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 50%;
}

.service > .fa-stack > .fa-circle {
  color: #f6f6f6;
  transition: .3s;
}

/* =Portfolio
-------------------------------------------------------------- */

#portfolio {
  background-color: #f6f6f6;
  padding-bottom: 0;
}

#filters {
  padding: 0;
  margin: 0 auto;
  float: none;
  list-style: none;
  text-align: center;
}

#filters li {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease;
}

#filters li:hover, #filters li.active {
  color: #fff;
}

#portfolio-grid {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

#portfolio-grid:before, #portfolio-grid:after {
  content: " ";
  display: table;
}

#portfolio-grid:after {
  clear: both;
}

#portfolio-grid li {
  width: 25%;
  float: left;
  display: none;
  opacity: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#portfolio-grid li:hover .project-overlay {
  opacity: 1;
  right: 0;
}

#portfolio-grid li img {
  width: 100%;
}

.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  opacity: 0;
  transition: .3s ease;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
}

.project-overlay .fa {
  margin-bottom: 15px;
}

.project-overlay span {
  display: block;
  text-transform: uppercase;
}

.project-name {
  font-size: 23px;
}

#project-extended.open {
  padding-top: 70px;
  padding-bottom: 70px;
}

#project-extended.open #project-controls {
  display: block;
}

.border {
  width: 90px;
  background: #DEDEDE;
  height: 1px;
  margin: 5px 15px;
}

.project-category {
  text-align: center;
  margin: 20px 0;
}

.video-container .project-media {
  padding-bottom: 60%;
  margin-bottom: 30px;
}

.video-container .project-media iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.project-media {
  position: relative;
}

.project-media img {
  display: block;
  margin: 0 auto;
}

.project-info h1 {
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0;
}

.project-info span {
  display: inline-block;
  color: #999;
  text-transform: uppercase;
}

.project-info h4 {
  text-align: center;
  text-transform: uppercase;
}

#project-controls {
  padding: 0;
  display: none;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

#project-controls li {
  display: inline-block;
  margin: 10px;
}

#project-controls li a {
  display: block;
  color: #ccc;
  border: 2px solid #ccc;
  padding: 4px 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

/* =Pricing
-------------------------------------------------------------- */

.plan {
  background-color: #f6f6f6;
  border-radius: 4px;
  margin-top: 25px;
  transition: .3s;
  cursor: default;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  padding: 10px 15px;
  color: #666;
  border-bottom: 1px solid #ececec;
  text-align: center;
  text-transform: uppercase;
}

.plan ul li:first-child {
  border-top: 1px solid #ececec;
}

.plan.selected {
  color: #fff;
}

.plan.selected .plan-heading p {
  color: #fff;
}

.plan.selected .circle-price {
  background-color: #fff;
}

.plan.selected ul li {
  color: #fff;
}

.plan.selected .btn {
  background-color: #fff;
  border-color: #fff;
}

.plan-heading {
  padding: 10px;
}

.plan-heading h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.plan-heading p {
  color: #999;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.circle-price {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  line-height: 120px;
  border-radius: 50%;
  color: #FFF;
  margin-bottom: 20px;
}

.circle-price span {
  font-size: 28px;
}

.buy-now {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* =Testimonials
-------------------------------------------------------------- */

#testimonials {
  background-image: url("../images/bg/5.jpg");
  color: #fff;
}

#testimonials h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 300;
}

#testimonials hr {
  width: 200px;
  border-top: 2px solid #fff;
}

.testimonials-slider {
  margin-top: 30px;
  position: relative;
  text-align: center;
}

.testimonials-slider .client-comment {
  font-weight: 300;
  font-size: 34px;
  font-style: italic;
  margin-bottom: 0;
  padding: 10px 0;
}

.testimonials-slider .client-name {
  color: #ccc;
}

.testimonials-slider img {
  border-radius: 50%;
  width: 120px;
}

/* =Clients
-------------------------------------------------------------- */

#clients {
  padding: 0;
  background-color: transparent;
}

#clients-carousel .item {
  padding: 10px;
  margin: 10px;
  cursor: move;
}

#clients-carousel .item img {
  display: block;
  margin: 0 auto;
}

/* =Contact
-------------------------------------------------------------- */

#contact {
  position: relative;
  background-color: #f6f6f6;
}

#map {
  position: relative;
  width: 100%;
  height: 500px;
}

.contact-form {
  text-align: right;
}

.contact-form .form-control {
  background-color: #fff;
  border-color: #ececec;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.contact-form .form-control:hover {
  border-color: #dbdbdb;
}

.contact-form .form-control:focus {
  border-color: #66afe9;
}

.contact-form textarea.form-control {
  height: 165px;
  resize: none;
}

.contact-form .btn {
  margin-top: 15px;
  margin-right: 15px;
}

.contact-form .form-group.error, .contact-form .form-group.success {
  position: relative;
}

.contact-form .form-group.error:after, .contact-form .form-group.success:after {
  font-family: 'FontAwesome';
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 16px;
}

.contact-form .form-group.error:after {
  content: "\f00d";
  color: #d95c5c;
}

.contact-form .form-group.success:after {
  content: "\f00c";
  color: #00c077;
}

.contact-details {
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}

.detail {
  padding: 15px 0;
  text-align: center;
  font-size: 22px;
  white-space: nowrap;
  color: #999;
}

.detail .fa {
  margin-right: 5px;
}

.form-sent {
  padding-left: 15px;
  padding-right: 15px;
  display: none;
  font-size: 16px;
  text-align: center;
}

/* =Footer
-------------------------------------------------------------- */

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

footer .social-list a {
  color: #ccc;
}

footer .social-list a .social-icon {
  border-color: #ccc;
}

footer .social-list a:hover {
  color: #999;
}

footer .social-list a:hover .social-icon {
  border-color: #999;
}

/* =Flexslider
-------------------------------------------------------------- */

.flex-control-nav {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.flex-control-paging li a {
  width: 15px;
  height: 15px;
  background-color: #ccc;
}

.flex-direction-nav a {
  background: #FFF;
  padding: 3px 12px;
  width: auto;
  height: auto;
  opacity: .5;
}

.flex-direction-nav a:before {
  font-family: 'FontAwesome';
  font-size: 24px;
}

.flex-direction-nav a:hover {
  opacity: 1;
}

.flex-direction-nav a.flex-next {
  border-radius: 3px 0 0 3px;
}

.flex-direction-nav a.flex-next:before {
  content: "\f105";
}

.flex-direction-nav a.flex-prev {
  border-radius: 0 3px 3px 0;
}

.flex-direction-nav a.flex-prev:before {
  content: "\f104";
}

.flex-direction-nav .flex-next {
  right: 0;
}

.flex-direction-nav .flex-prev {
  left: 0;
}

/* =Media queries
-------------------------------------------------------------- */

@media (min-width: 992px) {
  .hiding {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }

}

@media (max-width: 767px) {
  #team .col-xs-12 {
    width: 320px;
    margin: 0 auto;
    float: none;
  }

  .promo, .promo.right {
    text-align: center;
  }

  .promo .promo-icon-box, .promo.right .promo-icon-box {
    float: none;
  }

  #demo-switcher {
    display: none;
  }

}

@media (max-width: 991px) {
  #portfolio-grid li {
    width: 50%;
  }

  .animated {
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .team-overlay p{
    font-size: 12px;
    margin-bottom: 0;
  }
  .team-overlay .social-list li a{
    font-size: 16px;
  }
  .team-overlay .social-icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .team-inner h3{
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .home-slider .slides > li h1 {
    font-size: 36px;
  }

}

@media (max-width: 479px) {
  #portfolio-grid li {
    width: 100%;
  }

   .border{
	width: 30px;
  }

}

@media (max-width: 360px) {
  #team .col-xs-12 {
    width: 280px;
  }

  .home-slider .slides > li h1{
    font-size: 30px;
  }

  .border{
	width: 20px;
  }
}




