<header id="header">
<div id="header-outer" class="outer">
    <div class="container">
        <div class="container-inner">
            <div id="header-title">
                <h1 class="logo-wrap">
                    <a href="${site.root_path}" class="logo">${site.title}</a>
                </h1>

                <h2 class="subtitle-wrap">
                    <p class="subtitle">${site.subtitle}</p>
                </h2>

            </div>
            <div id="header-inner" class="nav-container">
                <a id="main-nav-toggle" class="nav-icon"></a>
                <div class="nav-container-inner">
                    <ul id="main-nav">
                        % for link in site.navbar:
                            % for item in link:
                                <li class="main-nav-list-item"><a class="main-nav-list-link" href="${site.root_path}${link[item]}">${ item }</a></li>
                            % endfor
                        % endfor
                    </ul>
                    <nav id="sub-nav">
                    <div id="search-form-wrap">
                        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" results="0" class="search-form-input" placeholder="Search"><input type="hidden" name="q" value="site:${site.url}${site.root_path}"></form>
                    </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
