<div class="widget-wrap widget-list">
    <h3 class="widget-title">categories</h3>
    <div class="widget">
        <ul class="category-list">
            % for category in categories:
                <li class="category-list-item">
                <a class="category-list-link" href="${site.root_path}${category.url}">
                    ${category.name}
                </a>
                <span class="category-list-count">${len(category.posts)}</span>
                </li>
            % endfor
        </ul>
    </div>
</div>
