html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
hr{ border-bottom: solid white 1px; border: solid #dddddd; border-width: 1px 0 0; clear: both; margin: 0.55em 0 1.1875em 0; height: 0; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
article, aside, footer, header, hgroup, nav, section { display: block; }

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

html { -webkit-font-smoothing: antialiased; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #4c4c4c; background-color: #ffffff; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

img { max-width: 100%; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #111; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Monaco, Bitstream Vera Sans Mono, Courier, Lucida Console, Terminal; margin-bottom: 17px; font-size:14px; line-height: 20px;}
article code { background-color: rgba(0, 204, 255, 0.3); }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
blockquote p { padding-bottom: 0px; }

.codehilite pre { white-space: pre-wrap; word-wrap: break-word; border: 1px solid #ccc; padding: 6px 10px;}

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#main-header { background-color: #f9f9f9; border-bottom: 1px solid #eeeeee; position: relative; margin-bottom: 60px; }
#main-header:before { content: ''; position: absolute; height: 7px; bottom: -7px; left: 0; }
.container { text-align: left; margin: 0 auto; width: 960px; position: relative; }

.search { float: left; border-left: 1px solid #fff; padding: 11px 32px 0 25px; }
.search-form { float: right; margin-top: 10px; border-left: 1px solid #fff; height: 35px; border:1px solid #e5e5e5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color: #fff; -webkit-box-shadow: 1px 1px 0 #fff; -moz-box-shadow: 1px 1px 0 #fff; box-shadow: 1px 1px 0 #fff; }
.search-form .searchinput { background: none; border: none; float: left; margin: 9px 14px 0 7px; width: 108px; padding-left: 6px; font-size: 12px; color: #4b4b4b; font-weight: lighter; }
.search-form #searchsubmit { margin-top: 12px; margin-right: 12px; }
.container #logo-area { text-align: center; margin: 57px 0 37px 0; }
.container #logo-area a { text-decoration: none; }
.container #logo-area h1{ font-size: 70px; color: #0099FF; font-family: 'Hammersmith One', 'Nobile', Georgia, Helvetica, cursive; font-weight: 700;}
.container #logo-area p{ font-size: 18px; color: #333;}
#menu { border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; position: relative; }
#menu:before { content: ''; position: absolute; height: 7px; bottom: -7px; left: 0; }
.container #second-menu { text-align: center; }
#second-menu a { font-size: 14px; color: #4b4b4b; text-decoration: none; text-shadow: 1px 1px 0 #fff; display: block; font-weight: lighter; }
#second-menu > ul > li > a { -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; display: block; padding: 22px 15px 23px; position: relative}
#second-menu > ul > li { float:left; }
#second-menu > ul > li > a:hover { color: #fff; text-shadow: -1px -1px 0 rgba(0,0,0,0.1); -moz-box-shadow: inset 0 0 10px #0099FF; -webkit-box-shadow: inset 0 0 10px #0099FF; box-shadow: inset 0 0 10px #0099FF; }
#second-menu li.sfHover > a { color: #fff; text-shadow: none; }
#second-menu .main_text { color: #4b4b4b; }

#second-menu ul > li.current-menu-item > a { font-weight: bold; }
#main-area { background-color: #f9f9f9; border-bottom: 1px solid #eeeeee; padding-bottom: 60px; }

.article .meta-info a:hover { color: #949494; }
h3.main-title { font-family: Helvetica, Arial, sans-serif; display: inline-block; font-size: 16px; text-transform: uppercase; color: #fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.2); margin-bottom: -1px; padding: 8px 11px; }
a.more { position: absolute; font-family: 'Open Sans Condensed', Arial, sans-serif; text-transform: uppercase; color: #bababa; font-size: 16px; text-shadow: 1px 1px 0 #fff; text-decoration: none; top: 2px; right: 0px;  padding-right: 14px; }
a.more:hover { color: #111; }

.left-area { float: left; width: 630px; margin-right: 30px; }


.widget li { border-bottom: 1px solid #f7f7f7; font-size: 16px;-moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
#tabbed li { -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; }
.widget li a { text-decoration: none; color: #4c4c4c; padding: 20px 20px; display: block; }
.widget li:hover { background-color: #f9f9f9; -moz-box-shadow: inset 1px 1px 0 #fff; -webkit-box-shadow: inset 1px 1px 0 #fff; box-shadow: inset 1px 1px 0 #fff; }
#tabbed li:hover { background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.widget li:hover a { color: #4c4c4c; }


.archives { position: relative; margin-bottom: 30px; }
.archives article { padding: 2px 2px 10px 10px; border-bottom: 1px solid #f7f7f7; font-size: 16px;-moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.archives-content { border: 1px solid #e5e5e5; background-color: #fff; padding: 5px 10px 5px 10px; }
.archives-content .meta-info { padding-bottom: 3px; font-size: 12px; }
.archives-content h4 { padding-top: 0; font-size: 18px; }
.archives-content:hover { background-color: #f9f9f9; -moz-box-shadow: inset 1px 1px 0 #fff; -webkit-box-shadow: inset 1px 1px 0 #fff; box-shadow: inset 1px 1px 0 #fff; }
.archives-content a { text-decoration: none; }

#articles-content { border: 1px solid #e5e5e5; background-color: #fff; }
#articles-content:before { content: ''; position: absolute; height: 8px; bottom: -7px; left: 0; }
.article { border-bottom: 1px solid #f7f7f7; padding: 10px; }
.article .last { border-bottom: none; }
.article .thumb { float: left; margin-right: 28px; position: relative; line-height: 0; }
.article .thumb .overlay { position: absolute; -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); box-shadow: inset 0 0 10px rgba(0,0,0,0.3); left: 0; top: 0; width: 100%; height: 100%; }
.article h4 { padding-top: 20px; font-size: 24px; font-weight: lighter; }
.article h4 a { text-decoration: none; color: #4c4c4c; }
.article h4 a:hover, #tab-controls li a:hover, .widget li a:hover, .footer-widget li a:hover, #bottom-menu a:hover, .post h2.title a:hover { color: #b8b8b8; }
.article p { margin-top: -7px; }

#main-area  { padding-top: 58px; }
.entry { border: 1px solid #e5e5e5; background-color: #fff; position: relative; margin-bottom: 30px; }
.entry:before { content: ''; position: absolute; height: 8px; bottom: -8px; left: 0; }
.entry .meta-info { background-color: #f9f9f9; border: 1px solid #fff; border-bottom: none; font-size: 16px; color: #b8b8b8; text-shadow: 1px 1px 0 #fff; font-weight: lighter; padding: 19px 15px; }
.entry .meta-info a { text-decoration: none; color: #888888; }
.entry .post-thumbnail { position: relative; line-height: 0; }
.entry .post-thumbnail .overlay { position: absolute; -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); box-shadow: inset 0 0 10px rgba(0,0,0,0.3); left: 0; top: 0; width: 100%; height: 100%; }
.entry h2.title, h1.title { font-size: 30px; font-weight: lighter; color: #4c4c4c; }
.entry h2.title a { text-decoration: none; color: #4c4c4c; }
.entry h2.title a:hover { color: #111; }

.post_content { padding: 15px 15px 30px 15px; }
.post_content a.more { position: relative; top: 0; padding-right: 14px; float: right; }

article.post ul, .comment-content ul, article.page ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 26px; }
article.post ol, .comment-content ol, article.page ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 16px; line-height: 26px; }
.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol, article.page ul li ul, article.page ul li ol { padding: 2px 0px 2px 20px; }
.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol, article.page ol li ul, article.page ol li ol  { padding: 2px 0px 2px 35px; }

article.post-content p, .comment-content p, article.page p { padding-bottom: 17px; font-size: 16px; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

ul.nav li ul { width: 250px !important; background: #4b4b4b; top: 59px !important; left: 0 !important; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); z-index: 9999; display: none; }
ul.nav ul li { margin: 0 !important; padding: 0 !important; }
#top-menu ul ul li a, #second-menu ul ul li a { padding: 20px 5px 20px 40px !important; width: 250px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.8); border-top: 1px solid #575757; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#second-menu ul ul li a { text-shadow: 0 -1px 0 rgba(0,0,0,0.3); }
#top-menu ul ul li:first-child a, #second-menu ul ul li:first-child a { border-top: none !important; }
#top-menu ul ul li a:hover, #second-menu ul ul li a:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background-color: #575757; color: #fff !important; padding-left: 45px !important; }

ul.nav ul li a:hover { color: #c6c6c6 !important; }

ul.nav li:hover ul ul, ul.nav li.sfHover ul ul { top: -1px !important; left: 250px !important; border-top: 1px solid #f0f0f0; }

#second-menu ul.nav li ul  { top: 58px !important; text-align: left; }

#second-menu  ul.nav li:hover ul ul, #second-menu  ul.nav li.sfHover ul ul { top: -1px !important; }

ul.nav > li > a { overflow: hidden; }
#top-menu a { padding: 0; }

#second-menu > ul.nav { float: left; }

.js #top-menu > ul.nav, .js #second-menu > ul.nav {  }


.mobile_nav { display: none; position: relative; padding: 15px 22px 11px 46px; }
.mobile_nav:hover { color: #eee; text-decoration: none; }
.mobile_nav > span { display: block; width: 15px; height: 10px; position: absolute; top: 26px; right: 14px; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.mobile_nav.opened > span { -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg); }
.et_mobile_menu { position: absolute; top: 60px !important; left: -79px; z-index: 1000; display: none; text-align: left; background: #f9f9f9; border: 1px solid #e5e5e5; border-top: none; }
#mobile_menu { width: 280px !important; }
.et_mobile_menu li { padding-left: 0 !important; }
.et_mobile_menu ul { display: block !important; visibility: visible !important; }

.et_mobile_menu li.current-menu-item > a, .et_mobile_menu a:hover { color: #111; text-decoration: none; }
.et_mobile_menu a { display: block; padding-left: 9px !important; background-position: 0 17px; color: #4c4c4c; width: 233px; text-shadow: 1px 1px 0 #fff; border-top: 1px solid #fff; border-bottom: 1px solid #e5e5e5; }
.et_mobile_menu li a { padding: 15px 7px 13px 40px !important; background-repeat: no-repeat; background-position: 23px 17px; }
.mobile_nav li ul { position: relative; top: 0; width: auto; display: block !important; visibility: visible !important; }

#second-menu .mobile_nav, #category_mobile_menu li a { color: #48423f; text-shadow: 1px 1px 0 #fff; }
#category_mobile_menu li a:hover, #category_mobile_menu li.current-menu-item > a { color: #919e9e; }
#category_mobile_menu { top: 46px !important; left: -56px; }
#category_mobile_menu li a { float: left; }

.et_mobile_menu span.main_text { padding: 0; }

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#bottom-menu { float: left }
#bottom-menu li { display: inline-block; }
#bottom-menu a { font-size: 14px; color: #4b4b4b; text-decoration: none; padding: 0 15px; display: block; }
#bottom-menu .active  { font-weight: bold; }
p#copyright { float: right; font-size:12px; color:#4b4b4b; margin-top: -4px; }
p#copyright a { color:#4b4b4b; font-weight: bold; }
#footer .container { padding: 16px 0 10px 0; }

/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

.sidebar { float: left; width: 300px; }
.widget { border: 1px solid #e5e5e5; background-color: #fff; position: relative; margin-bottom: 30px; padding: 24px 24px 0; }
.widget:after { content: ''; position: absolute; height: 7px; bottom: -7px; left: 0; }
.widget h4.widgettitle { text-shadow: 1px 1px 0 #fff; color: #4c4c4c; font-size: 16px; background-color: #f9f9f9; margin: -24px -24px 0; padding: 21px; border: 1px solid #fff; border-bottom: 1px solid #e5e5e5; }
.widget > ul { margin: 0 -24px; }
.widget li { border-bottom: 1px solid #f7f7f7; font-size: 16px;-moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
#tabbed li { -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; }
.widget li a { text-decoration: none; color: #4c4c4c; padding: 20px 20px; display: block; }
.widget li:hover { background-color: #f9f9f9; -moz-box-shadow: inset 1px 1px 0 #fff; -webkit-box-shadow: inset 1px 1px 0 #fff; box-shadow: inset 1px 1px 0 #fff; }
#tabbed li:hover { background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.widget li:hover a { color: #4c4c4c; }

.widget .description { padding: 20px 0 20px 0; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 20px 0; }

.paginate { text-align: right; text-shadow: 1px 1px 0 #fff; font-size: 13px; color: #4c4c4c; padding-top: 7px; clear: both; }
.paginate li,.paginate a { border-color: #e5e5e5; background: #f9f9f9; color: #4c4c4c; -moz-box-shadow: inset 0 0 0 1px #fff; -webkit-box-shadow: inset 0 0 0 1px #fff; box-shadow: inset 0 0 0 1px #fff; display: inline-block; }
.paginate .current, .left-area .paginate a:hover { background: #fff; }
.paginate .pages { border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; padding-left: 0; background: none; }
.paginate li a { text-decoration: none; border: 1px solid #BFBFBF; margin: 2px; padding: 11px 14px; }
.paginate a:hover, .paginate li.current { border-color: #000; }
.paginate li.current { font-weight: bold; text-decoration: none; border: 1px solid #BFBFBF; margin: 2px; padding: 11px 14px;  }

a.readmore:hover, .sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

html#ie7 ul.nav li a:hover span.main_text { color: #fff !important; }
html#ie7 #main-header, html#ie7 #menu { z-index: 2; }
html#ie7 #main-area, html#ie7 #main-area .container { z-index: 1; }

@media only screen and ( max-width: 960px ) {
    #et-search, p#et-search-title, p#et-search-title span { background: none !important; }
    #et-search { width: auto !important; height: auto !important; }
    #et-search-inner { padding: 0 !important; }
    #et-search-right { float: none !important; clear: both; text-align: left !important; }
    #et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
    p#et-search-title { margin-bottom: 2px !important; }
    p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
    #et-searchinput { width: auto !important; }
    p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
    #et-search-left { float: none !important; width: 100% !important; }
}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
    .container { width: 728px; }
    #search, .category-box p.meta-info, #all-tabs p.meta-info { display: none; }
    #top-menu { padding-right: 8px; }
    #articles-content:before, .widget:after, .post:before { background-size: contain; }
    span.post-meta { left: 22px; }
    h3.main-title { font-size: 14px; }
    .left-area { width: 476px; }
    .article h4 { padding-top: 5px; }
    .article p { margin-top: -10px; }
    .post .meta-info { font-size: 13px; }
    .sidebar { width: 222px; }
    #tab-controls li { width: 71px; }
    #tab-controls li a { font-size: 12px; }
    #all-tabs h4 { font-size: 14px; padding-bottom: 16px; }
    .widget li a { padding-right: 30px; }
    .footer-widget { width: 191px; padding-left: 30px; }
    .footer-widget li { padding-right: 25px; }
    #bottom-menu, p#copyright  { float: none; text-align: center; }
    #bottom-menu { margin-bottom: 40px; }
    p#copyright { margin-bottom: 25px; }
}

@media only screen and ( max-width: 767px ) {
    .container { width: 440px; }
    #top-menu, #second-menu, span.post-meta, .sidebar, #bottom-menu { display: none; }
    #social-icons { float: right; }
    #search { border-left: none; float: left; border-right: 1px solid #e5e5e5; padding: 11px 15px 11px 0; }
    #articles-content:before, .widget:after, .post:before { background-size: contain; }
    h3.main-title, .article .meta-info, .article p { font-size: 14px; }
    .category-box p.meta-info { font-size: 12px; }
    .left-area { width: 440px; }
    .article h4 { padding-top: 5px; font-size: 20px; }
    .article p { margin-top: -10px; }
    .post .meta-info { font-size: 13px; }
    p#copyright  { float: none; text-align: center; margin: 30px 0; }

    .mobile_nav { display: block; }

    #main-header .mobile_nav { border-left: 1px solid #fff; position: absolute; top: 0; left: 180px; padding: 23px 39px 21px 18px; border-right: 1px solid #E5E5E5; font-size: 14px; color: #4b4b4b; text-shadow: 1px 1px 0 #fff; }

    #main-header #mobile_menu li:first-child a { border-top: none; }

    #menu .container { text-align: center; }
    #menu .mobile_nav { display: inline-block; padding: 22px 28px 22px 0; color: #4b4b4b; font-size: 14px; }
    #menu .mobile_nav > span { top: 25px; right: 2px; }
    #category_mobile_menu  { background-color: #fff; top: 58px !important; left: -73px; }

}

@media only screen and ( max-width: 479px ) {
    .container { width: 350px; }
    #top-menu, #second-menu, span.post-meta, #switcher .meta-info, .sidebar, #bottom-menu, #social-icons, #search, #switcher-container, #video-switcher, .article .thumb, .post .meta-info { display: none; }
    .category-box:after, #video-slider-section:before, #articles-content:before, .widget:after, .post:before { background-size: contain; }
    h3.main-title { font-size: 14px; }
    .category-box p.meta-info { font-size: 12px; }
    .left-area { width: 350px; }
    .article {  padding: 22px 22px 22px 32px; }
    .article h4 { padding-top: 5px; font-size: 20px; padding-bottom: 20px; }
    .article p, .article .meta-info { font-size: 16px; }
    .article p { margin-top: -10px; }
    .post h2.title { font-size: 24px; }
    p#copyright  { float: none; text-align: center; margin: 30px 0; }

    .children { padding-left: 0; }

    #main-header .container { text-align: center; }
    #main-header .mobile_nav { position: relative; left: 0; display: inline-block; border: none; }
    .et_mobile_menu { left: -72px; }

    #category_mobile_menu { left: -70px; }

    .et_pt_gallery_entry { margin-left: 36px !important; }

    p.et-registration { margin-top: 35px !important; }
    .et-protected-form { padding: 0 !important; background: none !important; }
    .et-protected { width: auto !important; }

    #et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: -19px !important; }
    .et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 228px !important; }
    .et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
    .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
    .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

    .entry .et_portfolio_small .et_pt_portfolio_item { width: 262px !important; margin-left: -15px !important; }

    .et_portfolio_small .et_pt_portfolio_item { margin-left: -15px !important; width: 254px !important; }
}
