<%page args="post"/>

<article class="article article-single article-type-article" itemscope="" itemprop="blogarticle">
    <div class="article-inner">

        <header class="article-header">
            <h1 class="article-title" itemprop="name">${post.title}</h1>
        </header>

        <p class="article-byline">
            <a href="${ site.root_path}${post.url}" class="article-date">
                % if hasattr(post, 'pub_time'):
                <time datetime="${post.pub_time.strftime("%Y-%m-%dT%H:%M:%S.000Z")}" itemprop="datePublished">${post.pub_time.strftime("%Y-%m-%d")}</time>
                % endif
            </a>
        </p>
        <div class="article-entry" itemprop="articleBody">${post.content}</div>
        <footer class="article-footer">
            <a data-url="${site.url}${site.root_path}${post.url}" class="article-share-link">Share</a>


            <ul class="article-tag-list">
                % for tag in post.tags:
                <li class="article-tag-list-item"><a class="article-tag-list-link" href="${site.root_path}${tag.url}">${tag.name}</a></li>
                % endfor
            </ul>

        </footer>
    </div>
</article>

