<footer id="footer">
<div class="container">
    <div class="container-inner">
        <a id="back-to-top" href="javascript:;"><i class="icon" id="icon-angle-up"></i></a>
        <div class="credit">
            <h1 class="logo-wrap">
                <a href="${site.root_path}" class="logo">${site.title}</a>
            </h1>
            <p>© 2015 ${site.author}</p>
            <p>Powered by <a href="//crotal.org/" target="_blank">Crotal</a>. Theme by <a href="//github.com/ppoffice" target="_blank">PPOffice</a></p>
        </div>
    </div>
</div>
</footer>
