<aside id="sidebar">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
  <div class="sidebar-top">
    <p>follow:</p>
    <ul class="social-links">

        % if site.twitter_id:
            <li><a class="social-tooltip" title="twitter" href="//twitter.com/${site.twitter_id}" target="_blank"><i id="icon-twitter" class="icon"></i></a></li>
        % endif

        % if site.facebook_id:
            <li><a class="social-tooltip" title="facebook" href="//facebook.com/${site.facebook_id}" target="_blank"><i id="icon-facebook" class="icon"></i></a></li>
        % endif

        % if site.google_plus_id:
        <li><a class="social-tooltip" title="google_plus" href="//plus.google.com/${site.google_plus_id}" target="_blank"><i id="icon-google_plus" class="icon"></i></a></li>
        % endif

        % if site.github_id:
        <li><a class="social-tooltip" title="github" href="//github.com/${site.github_id}" target="_blank"><i id="icon-github" class="icon"></i></a></li>
        % endif

        % if site.weibo_id:
        <li><a class="social-tooltip" title="weibo" href="//weibo.com/u/site.weibo_id" target="_blank"><i id="icon-weibo" class="icon"></i></a></li>
        % endif

        <li><a class="social-tooltip" title="rss" href="${site.root_path}/rss.xml" target="_blank"><i id="icon-rss" class="icon"></i></a></li>

    </ul>
  </div>

  <div class="widgets-container">
    % for aside in site.default_asides:
        <%include file="_includes/${aside}"/>
    % endfor

  </div>
</aside>
