{% extends "_layout/base.html" %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block description %}
{{ post.html | striptags | truncate(length=255 ,killwords=False)}}
{% endblock %}
{% block content %}
        <article class="post">
            <header>

                <div class="icon"></div>
                <time datetime="{{ post.pub_time }}"><a href="{{ post.url }}">{{ post.pub_time.strftime('%Y-%m-%d') }}</a></time>

                <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>

            <div class="entry">

            {{ post.html |safe }}

            </div>

        {% if settings.comment_system == 'disqus' %}
        {% include "_comments/disqus.html" %}
        {% elif settings.comment_system == 'duoshuo' %}
        {% include "_comments/duoshuo.html" %}
        {% endif %}
        </article>
{% endblock %}
