@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700");
@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fontawesome-webfont-.eot#iefix") format('embedded-opentype'), url("fonts/fontawesome-webfont.woff") format('woff'), url("fonts/fontawesome-webfont.ttf") format('truetype'), url("fonts/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
html {
    background: #6c7989;
    background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
    background-image: url("images/checker.png");
}
body {
    padding: 50px 0;
    margin: 0;
    font: 14px/1.5 "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: 300;
}
.wrapper {
    width: 680px;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
    box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
}
header,
section,
footer {
    display: block;
}
a {
    color: #069;
    text-decoration: none;
}
p {
    margin: 0 0 20px;
    padding: 0;
}
strong {
    color: #222;
    font-weight: 700;
}
.content {
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #fff;

    background: #fff url("../images/paper.png") repeat center top;
}
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
#header {
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background: #c6eafa -webkit-linear-gradient(#ddfbfc, #c6eafa);
    background: #c6eafa -moz-linear-gradient(#ddfbfc, #c6eafa);
    background: #c6eafa -o-linear-gradient(#ddfbfc, #c6eafa);
    background: #c6eafa -ms-linear-gradient(#ddfbfc, #c6eafa);
    background: #c6eafa linear-gradient(#ddfbfc, #c6eafa);
    position: relative;
    padding: 15px 30px;
    border-bottom: 1px solid #b2d2e1;
}
#header .title {
    float: left;
}
#header .nav {
    float: right;
    font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2.5em;
}
#header .nav ul {
    list-style: none;
}
#header .nav ul li {
    float: left;
    margin-left: 26px;
}
#header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    color: #069;
    text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
#header.without-description h1 {
    margin: 10px 0;
}
#header p {
    margin: 0;
    color: #61778b;
    width: 300px;
    font-size: 13px;
    font-style: italic;
}
article {
    padding: 15px 30px;
    font-size: 15px;
    position: relative;
}
article.page .icon {
    display: none;
}
article.post .icon:before {
    content: '\f016';
}
article.photo .icon:before {
    content: '\f030';
}
article.link .icon:before {
    content: '\f0c1';
}
article .gallery {
    margin: 0 -30px 16px;
    overflow: hidden;
    position: relative;
}
article .gallery:hover .control {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
article .gallery:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
@media screen and (max-width:580px) {
    article .gallery:hover img {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
}
article .gallery img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
article .gallery .control {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
    position: absolute;
    font: 24px/1 FontAwesome;
    text-align: center;
    width: 24px;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #fff;
    margin-top: -12px;
    top: 50%;
}
article .gallery .prev {
    left: 0;
}
article .gallery .prev:before {
    content: '\f053';
    left: 10px;
}
article .gallery .next {
    right: 0;
}
article .gallery .next:before {
    content: '\f054';
    right: 10px;
}
article header {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    position: relative;
    padding: 0;
    border-bottom: 0;
    margin-bottom: 10px;
}
article header .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: -46px;
    color: #fff;
    background: #069;
    -webkit-border-radius: 100em;
    border-radius: 100em;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
@media screen and (max-width: 600px) {
    article header .icon {
        display: none;
    }
}
article header .icon:before {
    position: absolute;
    font: 24px FontAwesome;
    top: 6px;
    left: 0;
    width: 32px;
    text-align: center;
}
article header time {
    font: 0.9em "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
}
article header .title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
article header .title a {
    color: #222;
}
article header .title a:hover {
    color: #069;
}
article .entry {
    text-align: justify;
    line-height: 1.6;
}
article .entry h1,
article .entry h2,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
    color: #222;
    padding: 0;
    margin: 0 0 20px;
    line-height: 1.2;
}
article .entry p,
article .entry ul,
article .entry ol,
article .entry table,
article .entry dl {
    margin: 0 0 20px;
}
article .entry h1,
article .entry h2,
article .entry h3 {
    line-height: 1.1;
}
article .entry h1 {
    font-size: 28px;
}
article .entry h2 {
    color: #393939;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
    color: #494949;
}
article .entry blockquote {
    margin: 0 -30px 20px;
    padding: 15px 20px 1px 40px;
    font-style: italic;
    background: #ccc;
    background: rgba(0,0,0,0.06);
    color: #222;
}
article .entry img,
article .entry video {
    max-width: 98%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0 8px #aaa;
    box-shadow: 0 0 8px #aaa;
}
article .entry img.nstyle,
article .entry video.nstyle {
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
article .entry iframe {
    max-width: 98%;
}
article .entry .caption {
    display: block;
    margin-top: 5px;
    color: #aaa;
    position: relative;
    font-size: 0.9em;
    padding-left: 25px;
}
article .entry .caption:before {
    content: '\f040';
    position: absolute;
    font: 1.3em FontAwesome;
    position: absolute;
    left: 0;
    top: 3px;
}
article .entry code,
article .entry pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 0.8em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
article .entry code {
    font-size: 13px;
}
article .entry pre {
    padding: 10px 30px;
    background: #3a3c42;
    color: #f8f8f2;
    margin: 0 -30px 16px;
}
@media screen and (max-width:580px) {
    article .entry pre {
        margin: 0 -20px 16px;
        padding: 10px 20px;
    }
}
article .entry pre code {
    color: #f8f8f2;
}
li article .entry pre {
    margin-left: -60px;
    padding-left: 60px;
}
article .entry table {
    width: 100%;
    border-collapse: collapse;
}
article .entry th,
article .entry td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
}
article .entry dt {
    color: #222;
    font-weight: 700;
}
article .entry th {
    color: #222;
}
article .entry small {
    font-size: 11px;
}
article .entry hr {
    border: 0;
    background: #aaa;
    height: 1px;
    margin: 0 0 20px;
}
article .entry .text-lt {
    text-decoration: line-through;
}
article footer {
    border-top: 1px solid #aaa;
    padding: 10px 0 0 0;
    margin-top: 10px;
}
article footer.end-sep {
    border-top: none;
    border-bottom: 1px solid #aaa;
    padding: 0 0 10px 0;
}
article footer a:before {
    font: 1.1em FontAwesome;
    padding-right: 10px;
    vertical-align: middle;
}
article footer a.more-link:before {
    content: '\f054';
}
article footer a.comment-link:before {
    content: '\f075';
}
article footer .categories,
article footer .tags {
    position: relative;
    padding-left: 25px;
    margin: 5px 0;
}
article footer .categories:before,
article footer .tags:before {
    position: absolute;
    font: 1.1em FontAwesome;
}
article footer .categories:before {
    content: '\f07b';
    top: 4px;
    left: 1px;
}
article footer .tags:before {
    content: '\f02b';
    top: 5px;
    left: 2px;
}
#comment {
    padding: 0 20px 20px;
    overflow-x: hidden;
}
#comment .title {
    font-weight: normal;
    margin-bottom: 15px;
}
#pagination {
    padding-bottom: 20px;
}
#pagination a {
    display: block;
    padding: 5px 10px;
    font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #069;
    color: #fff;
    text-decoration: none;
}
#pagination .prev {
    float: left;
}
#pagination .prev:before {
    content: '\f053';
    padding-right: 10px;
    font-family: FontAwesome;
}
#pagination .next {
    float: right;
}
#pagination .next:after {
    content: '\f054';
    padding-left: 10px;
    font-family: FontAwesome;
}
.archive-title, .about-title{
    font-weight: normal;
    margin-bottom: 10px;
    padding: 0 30px;
    text-shadow: 0 0 1px #fff;
}
.page-title{
    font-weight: normal;
    margin-bottom: 10px;
    padding: 0 30px;
    text-shadow: 0 0 1px #fff;
}
.archive-title:before {
    font-family: FontAwesome;
    content: '\f073';
    padding-right: 15px;
}
.archive-title.tag:before, {
    content: '\f02b';
}
.about-title:before {
    font-family: FontAwesome;
    content: '\f007';
    padding-right: 15px;
}
.archive-title.category:before, {
    content: '\f07b';
}
.page-title:before, {
    font-family: FontAwesome;
    content: '\f007';
    padding-right: 15px;

}
.about-title.tag:before, {
    content: '\f007';
}
.about-title.category:before, {
    content: '\f007';
}
.archive-year {
    font-size: 2.4em;
    font-family: Candara, arial;
    font-style: italic;
    color: #069;
    text-shadow: rgba(255,255,255,0.9) 0 1px 0;
    padding: 0 30px;
    margin: 0 0 10px 0;
    text-align: right;
}
@media screen and (max-width:580px) {
    .archive-year {
        padding: 0 20px;
    }
}
.archive-year a:after {
    content: '\f08e';
    font: 12px FontAwesome;
    padding-left: 10px;
    vertical-align: super;
}
.archive-year .sep {
    border-bottom: 1px solid #aaa;
    -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0;
    box-shadow: rgba(255,255,255,0.3) 0 1px 0;
}
#sidebar {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    text-shadow: rgba(0,0,0,0.25) 0 2px 0;
}
@media screen and (max-width: 600px) {
    #sidebar {
        padding: 5px 10px;
    }
}
#sidebar a {
    color: #fff;
}
#sidebar .widget {
    float: left;
    width: 30%;
    margin-left: 5%;
    word-wrap: break-word;
}
@media screen and (max-width: 600px) {
    #sidebar .widget {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}
#sidebar .widget.first {
    margin-left: 0;
}
#sidebar .widget.newline {
    clear: both;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
    list-style: none;
}
#sidebar .widget .entry {
    padding-left: 2px;
}
#sidebar .widget .title {
    padding: 4px 2px;
    font-size: 22px;
    font-weight: normal;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0 1px 0;
    box-shadow: rgba(255,255,255,0.25) 0 1px 0;
}
#sidebar .tag small {
    margin-left: 15px;
    color: #ccc;
}
#sidebar .tag small:before {
    content: '(';
}
#sidebar .tag small:after {
    content: ')';
}
#sidebar .tagcloud a {
    margin-right: 10px;
    display: inline-block;
}
#footer {
    width: 680px;
    margin: 20px auto 0;
    padding: 20px 0 0;
    color: #ccc;
    overflow: hidden;
    text-align: center;
}
#footer a {
    color: #fff;
    font-style: italic;
}
@media screen and (max-width: 740px) {
    body {
        padding: 0;
    }
    .wrapper {
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
    #footer {
        -webkit-border-radius: 0;
        border-radius: 0;
        margin: 0 auto;
        padding: 10px;
        width: auto;
        text-align: left;
    }
}
@media screen and (max-width:580px) {
    #header {
        padding: 15px 20px;
    }
    #header .title {
        float: none;
    }
    #header .nav ul li {
        margin-left: 10px;
    }
    #header p {
        width: 100%;
    }
    .archive-title {
        padding: 0 20px;
    }
    article {
        padding: 15px 20px;
    }
    article .gallery {
        margin: 0 -20px 16px;
    }
    article .entry blockquote {
        margin: 0 -20px 20px;
    }
}
figure.highlight {
    margin: 0 -30px 16px;
    padding: 0 30px;
    background: #3a3c42;
}
@media screen and (max-width:580px) {
    figure.highlight {
        margin: 0 -20px 16px;
        padding: 0 20px;
    }
}
figure.highlight pre {
    margin: 0 -30px 0px;
}
@media screen and (max-width:580px) {
    figure.highlight pre {
        margin: 0 -20px 0px;
    }
}
figure.highlight table {
    margin: 0;
    border-spacing: 0;
}
figure.highlight td {
    padding: 0;
    border-bottom: 0;
}
figure.highlight .gutter {
    width: 40px;
}
@media screen and (max-width:580px) {
    figure.highlight .gutter {
        display: none;
    }
}
figure.highlight .gutter pre {
    position: relative;
    padding: 10px 0 10px 30px;
    border-right: 1px solid #fff;
    height: 100%;
    width: 30px;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
    color: #93a1a1;
    font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
    color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
    color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
    color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
    color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
    color: #cb4b16;
}
pre .deletion {
    color: #dc322f;
}

/** Third Design Pagination **/
/* resource: http://pixelsdaily.com/resources/photoshop/psds/psd-slick-pagination-links/ */
.paginate.pag3 {  }

.paginate.pag3 li { margin-bottom:15px;font-weight: bold; float:left }

.paginate.pag3 li a {
  display: block;
  float: left;
  text-decoration: none;
  padding: 6px 11px;
  margin-right: 6px;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #43505e;
  background: #556270;
  background: -moz-linear-gradient(top, #556270 0%, #444d57 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556270), color-stop(100%,#444d57));
  background: -webkit-linear-gradient(top, #556270 0%,#444d57 100%);
  background: -o-linear-gradient(top, #556270 0%,#444d57 100%);
  background: -ms-linear-gradient(top, #556270 0%,#444d57 100%);
  background: linear-gradient(to bottom, #556270 0%,#444d57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556270', endColorstr='#444d57',GradientType=0 );
  -moz-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
  -webkit-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
  box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
}
.paginate.pag3 li a:hover {
  background: #556270;
  background: -moz-linear-gradient(top, #556270 0%, #5b6774 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556270), color-stop(100%,#5b6774));
  background: -webkit-linear-gradient(top, #556270 0%,#5b6774 100%);
  background: -o-linear-gradient(top, #556270 0%,#5b6774 100%);
  background: -ms-linear-gradient(top, #556270 0%,#5b6774 100%);
  background: linear-gradient(to bottom, #556270 0%,#5b6774 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556270', endColorstr='#5b6774',GradientType=0 );
}
.paginate.pag3 li a:active {
  background: #414952;
  background: -moz-linear-gradient(top, #414952 0%, #555e68 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414952), color-stop(100%,#555e68));
  background: -webkit-linear-gradient(top, #414952 0%,#555e68 100%);
  background: -o-linear-gradient(top, #414952 0%,#555e68 100%);
  background: -ms-linear-gradient(top, #414952 0%,#555e68 100%);
  background: linear-gradient(to bottom, #414952 0%,#555e68 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414952', endColorstr='#555e68',GradientType=0 );
}

.paginate.pag3 li.single, .paginate.pag3 li.current {
  display: block;
  float: left;
  text-decoration: none;
  padding: 6px 11px;
  margin-right: 6px;
  border-radius: 3px;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #616c78;
  background: #838d98;
  -moz-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
  -webkit-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
  box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #CCC;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
    color: #333;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 white;
    line-height: 1.4
}
