{% include "_includes/facebook_like.html" %}
{% include "_includes/google_plus_one.html" %}
{% include "_includes/twitter_sharing.html" %}
{% if site.google_analytics_tracking_id %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
{% elif site.clicky_tracking_id %}
    <script type="text/javascript">try{ clicky.init({{ site.clicky_tracking_id }}); }catch(e){}</script>
{% endif %}
