<header class="navbar navbar-default topnav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ ROOT_PATH }}/" id="logo">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left" id="nav">
                {% for link in site.navbar %}
                {% for item in link %}
                {% if item == title %}
                <li><a class="blog-nav-item active" href="{{ ROOT_PATH }}{{ link[item] }}">{{ item }}</a></li>
                {% else %}
                <li><a class="blog-nav-item" href="{{ ROOT_PATH }}{{ link[item] }}">{{ item }}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right" id="nav">
              {% if site.github_user %}
              <li><a class="blog-nav-item" target="_blank" href="http://github.com/{{ site.github_user }}"><i class="fa fa-github fa-1x"></i></a></li>
              {% endif %}
              {% if site.twitter_user %}
              <li><a class="blog-nav-item" target="_blank" href="http://twitter.com/{{ site.twitter_user }}"><i class="fa fa-twitter fa-1x"></i></a></li>
              {% endif %}
              {% if site.googleplus_user %}
              <li><a class="blog-nav-item" target="_blank" href="http://plus.google.com/{{ site.googleplus_user }}"><i class="fa fa-google fa-1x"></i></a></li>
              {% endif %}
              {% if site.linkedin_user %}
              <li><a class="blog-nav-item" target="_blank" href="https://www.linkedin.com/profile/view?id={{ site.linkedin_user }}"><i class="fa fa-linkedin fa-1x"></i></a></li>
              {% endif %}
            </ul>
        </div>
    </div>
</header>
