{% if page_number == 0 %}
{% else %}
    <br/>
    <ul class="page_numbers pull-right">
        {% if page_number %}
        <li class="page_info"><p>Page {{ current_page }} of {{ page_number + 1}}</p></li>
            {% for page_number in range(1, page_number + 2) %}
                {% if page_number == current_page %}
                    <li class="active"><a>{{ page_number }}<span class="sr-only">(current)</span></a></li>
                {% elif page_number == 1 %}
                <li><a href="{{ ROOT_PATH }}/">{{ page_number }}</a></li>
                {% else %}
                <li><a href="{{ ROOT_PATH }}/blog/page/{{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}
